<div id="createstate_dialog">
  <div class="profle-box"><div class="profle-box">
    <div class="profile-detail">
      <form action="addstate" method="get">
        <table>
          <tr>
            <th colspan="3">Enter State</th>
          </tr>
          <tr>
            <td>
              <input class="input-search" type="text" placeholder="Enter State.......">
            </td>
          </tr>
          <tr>
            <td>
              <input aligin="right" type="submit" class="save-change" value="submit">
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="clear"></div>
  </div>
</div>