<body>
<div class="white-box">
<div class="wrapper">
<div class="border-box">
<div class="my-profile-page">
<div class="profle-box"><div class="profle-box">
<div class="profile-detail">
<form action="addcity" method="get">
  <table>
  <tr>
  <td colspan="3"><input class="input-search" type="text" placeholder="Enter State......."></td>
  </tr>
  <tr>
  <td><input class="input-search" type="text" placeholder="Enter City......."></td>
  </tr>
  <tr>
  <td>
  <input aligin="right" type="submit" class="save-change" value="submit">
  </td>
  </tr>
</table>
</div>
<div class="clear"></div>
</div>
</div>

<!-- Container-box-End -->
</body>
