<body>
<div class="wrapper">
<div class="border-box">
<div class="profle-box"><a href="javascript:void(0);" id="addCity" class="save-change">Add City</a>
<div class="profile-detail">
  <table class="table table-hover">
  <tr  class="active">
    <th>Id</th>
    <th>State</th>
    <th>City</th>
    <th>Action</th>
  </tr>
  <tr class="success">
    <td>101</td>
    <td>MadhyPradesh</td>
    <td>Indore</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
  </tr>
  <tr  class="warning">
    <td>102</td>
    <td>Bihar</td>
    <td>Patna</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
  </tr>
  <tr class="danger">
    <td>103</td>
    <td>Rajsthan</td>
    <td>jaiput</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
  </tr>
  <tr class="info">
   <td>104</td>
    <td>Maharasta</td>
    <td>Pune</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
</tr>
</table>
</div>
<div class="clear"></div>
</div>
</div>
<div id="createcity_dialog">
 <form action="/createcity" method="post"  onsubmit="return(validate())">
  <fieldset>
   <span for="name">Enter State</span>
   <input type="text" name="state"  id="state" class="text ui-widget-content ui-corner-all" required><br>
   <span for="name">Enter City</span>
   <input type="text" name="city"  id="city" class="text ui-widget-content ui-corner-all" required><br>
   <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">submit</span></button>
  </fieldset>
 </form>
</div>
<script>
 $( "#createcity_dialog" ).dialog({
   autoOpen: false,
   modal : true,
   show: {
   effect: "blind",
   duration: 1000
  },
   hide: {
   effect: "explode",
   duration: 1000
  }
 });

  $(function() {    
   $("#addCity").click(function(){
    $("#createcity_dialog").dialog('open');
   });   
  });
</script>
<script>
function validate () {
  if (document.Registration.uname.value=="") {
       alert("Please Enter Name Fast");
       document.Registration.uname.focus();
       return false;
  };
  return=true;
  }
<script>

<!-- Container-box-End -->
</body>

