<body>
	<!--header start -->
<div class="header">
<div class="wrapper">
<a href="#"><img src="/images/logo.png" class="logo" border="0" align="left" alt=""></a>

<div class="top-box">
<div class="top-menu">                
</div>

<div class="input-box">
<input type="text" class="input" value="" onblur="if(this.value=='')this.value=this.defaultValue;" onfocus=     "if(this.value==this.defaultValue)this.value='';"/>
</div>
</div>
<div class="clear"></div>
</div>

<div class="nav-box">
<div class="wrapper">
<div class="menu_container">
<ul class="toresponsive" id="menu1">

<li><a href="/state">State</a></li>

<li class="current-menu-item"><a href="#">City </a></li>

<li><a href="/location">Location</a>
<!-- <ul>
<li><a href="#">sdfdsf</a>
</li>
<li><a href="manage-appointment-upcoming-appointment.html">Upcoming Appointments</a></li>
</ul> -->
</li>
<li><a href="my-notifications.html">New Adds </a></li>
</ul>
</div>

<div class="social-block">
<a href="#"><img src="/images/icon-1.png" border="0" align="left"></a>
<a href="#"><img src="/images/icon-2.png" border="0" align="left"></a>
<a href="#"><img src="/images/icon-3.png" border="0" align="left"></a>
<a href="#"><img src="/images/icon-4.png" border="0" align="left"></a>
<a href="#"><img src="/images/icon-5.png" border="0" align="left"></a>
<a href="#"><img src="/images/icon-6.png" border="0" align="left"></a>
</div>
<div class="clear"></div>
</div>
</div>
</div>
            
</body>
</html>
