<body>
<div class="wrapper">
<div class="border-box">
<div class="profle-box"><a href="javascript:void(0);" id="addState" class="save-change">New Location</a>
<div class="profile-detail">
  <table class="table table-hover">
  <tr  class="active">
    <th>Id</th>
    <th>State</th>
    <th>City</th>
    <th>Location</th>
    <th>Action</th>
  </tr>
  <tr class="success">
    <td>1</td>
    <td>mp</td>
    <td>Indore</td>
    <td>Vijay_Nagar</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
  </tr>
  <tr  class="warning">
    <td>2</td>
    <td>mp</td>
    <td>Indore</td>
    <td>Vijay_Nagar</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
  </tr>
  <tr class="danger">
    <td>3</td>
    <td>mp</td>
    <td>Indore</td>
    <td>Vijay_Nagar</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
  </tr>
  <tr class="info">
   <td>4</td>
    <td>mp</td>
    <td>Indore</td>
    <td>Vijay_Nagar</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
</tr>
</table>
</div>
<div class="clear"></div>
</div>
</div>
<div id="createstate_dialog">
 <form action="/createloc" method="post" name="createloc"  onsubmit="return(validate())">
  <fieldset>
   <span for="name">Enter State</span>
   <input type="text" name="state"  id="state" class="text ui-widget-content ui-corner-all"><br>
   <span for="name">Enter City</span>
   <input type="text" name="city"  id="city" class="text ui-widget-content ui-corner-all"><br>
   <span for="name">Enter Location</span>
   <input type="text" name="location"  id="location" class="text ui-widget-content ui-corner-all">
   <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">submit</span></button>
  </fieldset>
 </form>
</div>
<script>
 $( "#createstate_dialog" ).dialog({
   autoOpen: false,
   modal : true,
   show: {
   effect: "blind",
   duration: 1000
  },
   hide: {
   effect: "explode",
   duration: 1000
  }
 });

  $(function() {    
   $("#addState").click(function(){
    $("#createstate_dialog").dialog('open');
   });   
  });
</script>
<script>
function validate () {
  if (document.createloc.state.value=="") {
       alert("Please Enter State Fast");
       document.createloc.state.focus();
       return false;
  };
   if (document.createloc.city.value=="") {
       alert("Please Enter City Fast");
       document.createloc.state.focus();
       return false;
  };
   if (document.createloc.location.value=="") {
       alert("Please Enter Location Fast");
       document.createloc.state.focus();
       return false;
  };
 return(true);
  }
</script>

<!-- Container-box-End -->
</body>

