<body>
<!--Container-Open-->
<!--Container-box-open-->

<div class="white-box">
<div class="wrapper">
<div class="border-box">
<div class="my-profile-page">
<div class="profle-box"><img src="image's/my-profle-img.png" align="left" border="0" alt="" class="profile-image">
<div class="profile-detail">
  <table>
  <tr>
    <th>Id</th>
    <th>State</th>
    <th>City</th>
    <th>Location</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>1</td>
    <td>mp</td>
    <td>Indore</td>
    <td>Vijay_Nagar</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
  </tr>
  <tr>
    <td>2</td>
    <td>mp</td>
    <td>Indore</td>
    <td>Vijay_Nagar</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
  </tr>
  <tr>
    <td>3</td>
    <td>mp</td>
    <td>Indore</td>
    <td>Vijay_Nagar</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
  </tr>
  <tr>
   <td>4</td>
    <td>mp</td>
    <td>Indore</td>
    <td>Vijay_Nagar</td>
    <td><span><a href="#">Edit</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="#">Delete</a></span></td>
</tr>
</table>

<a href="#" class="save-change">New Location</a>

</div>
<div class="clear"></div>
</div>
</div>

<!-- Container-box-End -->
</body>

