<div class="container">
  <form action="/savepage" method="post">
    <div class="border-box">
      <div class="profile-detail">
        <font color="blue"><h4>Post a Free Classified Ad: <h4></font>
        <div class="clear"></div>
        
     
      <p>
        <span>
          Choosen Categary : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;select a categary
        </span>
      </p>
      <label class="radio-inline">
        <input type="radio" name="categary" id="inlineRadio1" value="Mobile and Tablet"/>
        <span>Mobile and Tablet</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="categary" id="inlineRadio2" value="Electronics and Computer">
        <span>Electronics and Computer</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="categary" id="inlineRadio3" value="Vehicles"> Vehicles
      </label>
      <div class="row">
        <div class="col-sm-7">
          <p>Add Title:*</p>
          <input type="text" class="form-control" placeholder="Adds title" name="addtitle" required value="">
          <p>Describe what makes your ad unique: *</p>
          <textarea class="form- control" rows="3" value="descriptions" name="describe" required></textarea>
        </div>
      </div>
      <h3>Seller Information:</h3>
      <div class="row">
        <div class="col-sm-7">
          <p>Contact Name:*</p> <input type="text" class="form-control" placeholder="Name" value="" name="sellarname"required>
          <div class="col-sm-13">
            <p>Your Email Id:*</p>
            <input type="email" class="form-control" placeholder="email" name="email" value=""required>
            <p>Your Phone No:*</p>
            <input type="text"  name="mobno" class="form-control" placeholder="0XXXXXXXXXX" value="" required>
            <p>State:*</p> 
             
            <span for="state">Select State</span><br>
            <select name="state" id="stateid">
            <option value="">Select_State</option>
             <% for(var i=0;i<states.length;i++) { %>
             <option value="<%= states[i].id %>"><%= states[i].state %></option>
             <% } %>
                <p>City:*</p>

               <span for="city">Select City</span><br>
               <select name="city" id="findcity">
               <option value=""> -- Select_City -- </option>
               </select> <br>




          
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg active">Post your Add</button><br>
    





    </div>
  </form>

   <script type="text/javascript">
<script>
$("#stateid").change(function(){
$.ajax({
type: "POST",
url: "/getcity",
data: {stateid : $("#stateid").val()},
success: function(data){
$("#findcity").find('option').remove().end();
$("#findcity").append('<option value="">-- Select City --</option>');
$.each(data.cities,function(key, value){
if(value.state && value.state.length>0){
console.log("\n\n",JSON.stringify(value),"\n\n");
$("#findcity").append('<option value="'+value.id+'">'+value.city+'</option>');
}
});
},
});
});
</script>


</div>
