<div class="container">
  <form action="/savepage" method="post">
    <div class="border-box">
      <div class="profile-detail">
        <font color="blue"><h4>Post a Free Classified Ad: <h4></font>
        <div class="clear"></div>
        
     
      <p>
        <span>
          Choosen Categary : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;select a categary
        </span>
      </p>
      <label class="radio-inline">
        <input type="radio" name="categary" id="inlineRadio1" value="Mobile and Tablet"/>
        <span>Mobile and Tablet</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="categary" id="inlineRadio2" value="Electronics and Computer">
        <span>Electronics and Computer</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="categary" id="inlineRadio3" value="Vehicles"> Vehicles
      </label>
      <div class="row">
        <div class="col-sm-7">
          <p>Add Title:*</p>
          <input type="text" class="form-control" placeholder="Adds title" name="addtitle" required value="">
          <p>Describe what makes your ad unique: *</p>
          <textarea class="form- control" rows="3" value="descriptions" name="describe" required></textarea>
        </div>
      </div>
      <h3>Seller Information:</h3>
      <div class="row">
        <div class="col-sm-7">
          <p>Contact Name:*</p> <input type="text" class="form-control" placeholder="Name" value="" name="sellarname"required>
          <div class="col-sm-13">
            <p>Your Email Id:*</p>
            <input type="email" class="form-control" placeholder="email" name="email" value=""required>
            <p>Your Phone No:*</p>
            <input type="text"  name="mobno" class="form-control" placeholder="0XXXXXXXXXX" value="" required>
            <p>State:*</p> 
             
          <select name="state">
           <option value="">select_state</option>
            <% for(var i=0; i<allstate.length;i++) { %>
           <option value ="<%= allstate[i].state %>"> <%= allstate[i].state %></option>
            <%}%>
          </select><br>
         <p>City:*</p>

            <select name="state">
             <option value="">Corresponds city</option>
             <% for(var i=0; i<allstate.length;i++) { %>
             <option value ="<%= allstate[i].state %>"> <%= allstate[i].state %></option>
             <%}%>
           </select><br>

          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg active">Post your Add</button><br>
    </div>
  </form>
</div>
