table, td, th {
    border: 1px solid black;
}

table {
    width: 100%;
    vertical-align: "right";
}

th {
    height: 50px;
}
   table.names tr:nth-child(even) {
    background-color: #f1f1c1;
}
   table.names tr:nth-child(odd) {
   background-color:#ffffff;
   }
   table.names th	{
    background-color: #c1c1c1;
}
